.main-header {
  display: flex;
  box-shadow: $main-shadow;
  margin-bottom: 10px;
  color: $main-header-text-color;
  background-color: $main-header-bg-color;
}

.main-logo {
  background-color: $main-logo-bg-color;
  min-width: 200px;
  font-weight: bolder;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-menu {
  background-color: $main-menu-bg-color;
  flex-grow: 1;
}

.main-menu a {
  color: $main-menu-text-color;
}

.main-menu a:hover {
  background-color: darken($main-menu-bg-color, 9%);
  color: darken($main-menu-text-color, 9%);
}

.main-menu a.active {
  background-color: darken($main-menu-bg-color, 9%);
  color: $main-header-text-color;
}