.left-side-menu {
  box-shadow: $main-shadow;
  background-color: $left-menu-bg-color;
  height: 100%;
}

.left-side-menu a {
  color: $left-menu-text-color;
}

.left-side-menu a:hover {
  background-color: darken($left-menu-bg-color, 9%);
  color: darken($left-menu-text-color, 9%);
}

.left-side-menu a.active {
  background-color: darken($left-menu-bg-color, 9%);
  color: darken($left-menu-text-color, 9%);
}