@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/_root";
@import "~bootstrap/scss/_type";
@import "~bootstrap/scss/_nav";

$main-header-text-color: #f4cb67;
$main-header-bg-color: #2d3439;
$main-logo-bg-color: #2d3439;
$main-menu-bg-color: #2d3439;
$main-menu-text-color: #c6ccd2;

$left-menu-bg-color: #c6ccd2;
$left-menu-text-color: grey;

$right-menu-bg-color: #f4cb67;
$right-menu-text-color: #2d3439;

$main-footer-bg-color: #2d3439;
$main-footer-text-color: #f4cb67;

$main-shadow: 0.2em 0.2em 3px rgba(122,122,122,0.5);

$middle-min-height: 500px;

@import "main";
@import "header";
@import "left";
@import "right";
@import "middle";
@import "footer";
